.bestSellingSection {
    text-align: center;
    padding-top: var(--dm-80);

    .top-selling-products {
        background: linear-gradient(90deg,
                rgba(19, 20, 21, 0) 0%,
                rgba(255, 199, 0, 0.1) 51.05%,
                rgba(19, 20, 21, 0) 100%);

        .sectionTitle {
            font-size: var(--dm-24);
            line-height: var(--dm-48);
            font-weight: 900;
            color: var(--color-primary-500);
            height: var(--dm-40);
        }
    }

    .table-wrapper {
        width: 100%;
        overflow-x: auto;

        .best-selling-table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0 5px;
            table-layout: fixed;

            th {
                padding: var(--dm-16) var(--dm-24);
                box-sizing: border-box;
                font-weight: 900;
                font-size: var(--dm-14);
                line-height: var(--dm-24);
                color: var(--Text-Neutral-Invert-Subdued, rgba(93, 93, 93, 1));

            }

            td {
                padding: var(--dm-16) var(--dm-24);
                box-sizing: border-box;
                font-weight: 900;
                font-size: var(--dm-16);
                line-height: var(--dm-24);
                color: white;
            }

            th.no-column,
            td.no-column {
                text-align: left; // NO. căn trái
            }

            th.product-column,
            td.product-column {
                text-align: left; // Product căn trái
            }

            th.right-column,
            td.right-column {
                text-align: right; // Quantity & Price căn phải
            }

            td {
                background: linear-gradient(0deg, #1f2023, #1f2023), linear-gradient(90deg, rgba(255, 200, 61, 0.2) 0%, rgba(0, 0, 0, 0) 18.36%);

                .No {
                    font-size: var(--dm-32);
                    font-family: var(--dm-48);
                    color: var(--color-primary-200);
                    text-transform: uppercase;
                    font-weight: 900;
                    width: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &:first-child {
                    border-top-left-radius: 16px;
                    border-bottom-left-radius: 16px;
                }

                &:last-child {
                    border-top-right-radius: 16px;
                    border-bottom-right-radius: 16px;
                }

                img {
                    display: block;
                }
            }

            .price-tag {
                display: inline-block;
                padding: 8px 18px;
                background: var(--Background-Neutral-Accent, #131415);
                border-radius: var(--dm-16);
                color: var(--color-primary-500);
                font-weight: 900;
                font-size: var(--dm-16);
                line-height: var(--dm-24);
            }

            .rank-text {
                font-size: var(--dm-16);
                line-height: var(--dm-24);
                font-weight: 900;
                color: var(--color-primary);
            }
        }
    }
}

/* MOBILE */
@media screen and (max-width: 1024px) {
    .bestSellingSection {
        .table-wrapper {
            overflow-x: hidden;

            .best-selling-table {
                table-layout: auto;

                th,
                td {
                    padding: 12px;
                    font-size: var(--dm-10);
                    line-height: var(--dm-24);
                    white-space: normal;

                    .No {
                        font-size: var(--dm-20);
                        width: 20px;
                    }
                }

                td img {
                    width: 20px;
                    height: 20px;
                }

                td:first-child {
                    border-top-left-radius: 12px;
                    border-bottom-left-radius: 12px;
                }

                td:last-child {
                    border-top-right-radius: 12px;
                    border-bottom-right-radius: 12px;
                }

                .price-tag {
                    font-size: var(--dm-10);
                    line-height: var(--dm-24);
                    padding: 6px 12px;
                }
            }
        }
    }
}