.container-fullwwidth {
    width: 100%
}

.container {
    max-width: 1128px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .container-fullwwidth {
        width: 100%;
        padding: 0px 20px;
    }

    .container {
        width: 100%;
        padding: 0px 20px;
    }
}