* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ============================
   GLOBAL COLORS FROM FIGMA
   ============================ */
:root {
  /* ----- PRIMARY COLORS ----- */
  --color-primary: #ffc700;
  --color-Secondary: #454852;
  /* --color-Tertiary: #2f3547; */
  --color-Tertiary: #131415;
  /* ----- PRIMARY COLORS ----- */
  --color-primary-100: #fff3d5;
  --color-primary-200: #ffe8ab;
  --color-primary-300: #ffdd80;
  --color-primary-400: #ffd252;
  --color-primary-500: #ffc700;
  /* MAIN */
  --color-primary-600: #c79b12;
  --color-primary-700: #917217;
  --color-primary-800: #604b16;
  --color-primary-900: #322811;

  /* ----- SECONDARY COLORS ----- */
  --color-secondary-100: #d7d7da;
  --color-secondary-200: #b0b1b6;
  --color-secondary-300: #8b8c93;
  --color-secondary-400: #676972;
  --color-secondary-500: #454852;
  /* MAIN */
  --color-secondary-600: #383a42;
  --color-secondary-700: #2b2d32;
  --color-secondary-800: #1f2023;

  /* ----- TERTIARY ----- */
  --color-tertiary: #2f3547;

  /* ----- FONT VARIABLE ----- */
  /* --font-primary: 'Inter', sans-serif; */
  /*---Font-Size----*/
  --dm-2: 2px;
  --dm-4: 4px;
  --dm-8: 8px;
  --dm-10: 10px;
  --dm-12: 12px;
  --dm-14: 14px;
  --dm-16: 16px;
  --dm-18: 18px;
  --dm-20: 20px;
  --dm-24: 24px;
  --dm-28: 28px;
  --dm-32: 32px;
  --dm-36: 36px;
  --dm-40: 40px;
  --dm-44: 44px;
  --dm-48: 48px;
  --dm-52: 52px;
  --dm-56: 56px;
  --dm-64: 64px;
  --dm-72: 72px;
  --dm-80: 80px;
  --dm-88: 88px;
  --dm-96: 96px;
  --dm-112: 112px;
  --dm-128: 128px;
  --dm-144: 144px;
  --dm-160: 160px;
  --dm-184: 184px;
  --dm-200: 200px;
  --dm-240: 240px;
  --dm-1000: 1000px;
}

html,
body {
  background: var(--color-Tertiary);
  color: var(--color-secondary-800);
  font-family: var(--font-inter);
  font-style: italic;
}